In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from sqlalchemy import create_engine

In [2]:
gunfile = "gun-violence-data_01-2013_03-2018.csv"
gun_df = pd.read_csv(gunfile)
gun_df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [3]:
gun_df.count()

incident_id                    239677
date                           239677
state                          239677
city_or_county                 239677
address                        223180
n_killed                       239677
n_injured                      239677
incident_url                   239677
source_url                     239209
incident_url_fields_missing    239677
congressional_district         227733
gun_stolen                     140179
gun_type                       140226
incident_characteristics       239351
latitude                       231754
location_description            42089
longitude                      231754
n_guns_involved                140226
notes                          158660
participant_age                147379
participant_age_group          197558
participant_gender             203315
participant_name               117424
participant_relationship        15774
participant_status             212051
participant_type               214814
sources                        239068
state_house_district           200905
state_senate_district          207342
dtype: int64

In [4]:
clean_gun_df = gun_df.dropna(how='any')
clean_gun_df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
36,482856,2013-03-13,New York,Mohawk,17 W Main St,6,2,http://www.gunviolencearchive.org/incident/482856,http://www.syracuse.com/news/index.ssf/2013/03...,False,...,0::68||1::57||2::66||3::67||4::62||5::51||6::2...,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||4::Male||5::Male||6...,0::Harry Montgomery||1::Michael Ransear||2::Jo...,7::Aquaintance,0::Killed||1::Killed||2::Injured||3::Injured||...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://www.cbsnews.com/news/upstate-new-york-s...,101.0,51.0
83,486623,2013-05-23,Tennessee,Bean Station,1034 Main Street,2,2,http://www.gunviolencearchive.org/incident/486623,http://legacy.wbir.com/story/news/local/hamble...,False,...,1::72||2::45||4::37,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Female||3::Female||4::Male,0::Stephen Lovell||1::Richard Alexander Sommer...,4::Armed Robbery,0::Killed||1::Killed||2::Injured||3::Injured||...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://www.dailymail.co.uk/news/article-233016...,35.0,8.0
101,487833,2013-06-15,Tennessee,Nashville,135 Brinkhaven Ave,0,4,http://www.gunviolencearchive.org/incident/487833,http://www.timesfreepress.com/news/local/story...,False,...,0::34||1::14||2::14||3::15||4::39,0::Adult 18+||1::Teen 12-17||2::Teen 12-17||3:...,0::Female||1::Female||2::Female||3::Female||4:...,0::Nicole Luke||1::Keona Luke||2::Deona Luke||...,4::Significant others - current or former,0::Injured||1::Injured||2::Injured||3::Injured...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://www.usatoday.com/story/news/nation/2013...,51.0,19.0
181,492276,2013-08-25,Florida,Lake Butler,1050 Southeast 6th Street,4,1,http://www.gunviolencearchive.org/incident/492276,http://www.usatoday.com/story/news/nation/2013...,False,...,0::28||1::80||2::66||3::44||4::72,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Rolando Gonzalez-Delgado||1::Marvin Pritche...,4::Co-worker,0::Killed||1::Killed||2::Injured||3::Killed||4...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://www.cbsnews.com/news/motive-a-mystery-i...,19.0,5.0
200,480521,2013-09-19,Illinois,Chicago,1809 W 50th St,0,12,http://www.gunviolencearchive.org/incident/480521,http://www.nydailynews.com/news/national/chica...,False,...,0::3||1::17||2::15||3::27||4::24||5::21||6::41...,0::Child 0-11||1::Teen 12-17||2::Teen 12-17||3...,0::Male||1::Female||2::Male||3::Male||4::Male|...,0::Deonta Howard||13::Quinton M. Humphries||14...,13::Gang vs Gang||14::Gang vs Gang||15::Gang v...,0::Injured||1::Injured||2::Injured||3::Injured...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://www.chicagotribune.com/news/local/break...,2.0,1.0

In [5]:
clean_gun = clean_gun_df[['state', 'date', 'n_killed', 'n_injured']]

In [6]:
clean_gun.head()

         state        date  n_killed  n_injured
36    New York  2013-03-13         6          2
83   Tennessee  2013-05-23         2          2
101  Tennessee  2013-06-15         0          4
181    Florida  2013-08-25         4          1
200   Illinois  2013-09-19         0         12

In [7]:
new_gun_df = clean_gun.reset_index()
new_gun_df[0:].replace('', np.nan, inplace=True)
new_gun_df.head()

   index      state        date  n_killed  n_injured
0     36   New York  2013-03-13         6          2
1     83  Tennessee  2013-05-23         2          2
2    101  Tennessee  2013-06-15         0          4
3    181    Florida  2013-08-25         4          1
4    200   Illinois  2013-09-19         0         12

In [8]:
indexed_gun_df = new_gun_df.drop(['index'], axis=1)
indexed_gun_df.head()

       state        date  n_killed  n_injured
0   New York  2013-03-13         6          2
1  Tennessee  2013-05-23         2          2
2  Tennessee  2013-06-15         0          4
3    Florida  2013-08-25         4          1
4   Illinois  2013-09-19         0         12

In [9]:
new_gun_columns = indexed_gun_df.rename(columns={"state": "State", "date": "Black Friday", "n_killed": "Killed", "n_injured": "Injured"})
new_gun_columns.head()

       State Black Friday  Killed  Injured
0   New York   2013-03-13       6        2
1  Tennessee   2013-05-23       2        2
2  Tennessee   2013-06-15       0        4
3    Florida   2013-08-25       4        1
4   Illinois   2013-09-19       0       12

In [10]:
new_gun_columns.to_csv(r'C:\Users\wahla\project2\gun_stats_small.csv')

In [40]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(new_gun_columns)

               State Black Friday  Killed  Injured
0           New York   2013-03-13       6        2
1          Tennessee   2013-05-23       2        2
2          Tennessee   2013-06-15       0        4
3            Florida   2013-08-25       4        1
4           Illinois   2013-09-19       0       12
5          Tennessee   2014-02-12       1        0
6          Tennessee   2014-03-09       1        0
7           Missouri   2014-03-11       2        0
8            Florida   2014-03-14       1        1
9              Idaho   2014-03-24       2        0
10          Michigan   2014-03-28       1        0
11         Louisiana   2014-05-27       1        0
12          Missouri   2014-06-01       1        0
13         Louisiana   2014-06-03       0        1
14        Washington   2014-06-24       1        0
15           Alabama   2014-07-02       1        0
16          Illinois   2014-07-11       1        0
17          Michigan   2014-07-14       0        0
18          New York   2014-09-06       2        0
19         Louisiana   2014-09-10       1        0
20    North Carolina   2014-10-02       1        0
21         Louisiana   2014-10-09       0        1
22        Washington   2014-10-16       1        0
23        Washington   2014-11-01       2        0
24            Oregon   2014-11-02       1        1
25           Florida   2014-11-20       1        0
26          Arkansas   2014-11-22       0        1
27        California   2014-11-25       1        0
28     Massachusetts   2014-11-29       1        0
29        California   2014-12-08       2        0
30           Georgia   2014-12-12       3        3
31             Texas   2014-12-21       2        2
32           Arizona   2014-12-25       0        1
33     New Hampshire   2014-12-30       2        0
34             Idaho   2015-01-10       3        1
35    South Carolina   2015-02-05       2        0
36           Florida   2015-02-21       1        0
37          Michigan   2015-03-11       1        1
38      North Dakota   2015-03-24       2        0
39           Florida   2015-03-25       2        1
40          Oklahoma   2015-03-25       3        0
41        California   2015-03-26       2        0
42            Hawaii   2015-04-03       0        1
43          Oklahoma   2015-04-05       0        3
44       Connecticut   2015-04-06       1        0
45          Colorado   2015-04-14       2        0
46           Georgia   2015-04-23       3        0
47           Florida   2015-05-03       1        0
48          Michigan   2015-05-04       0        1
49              Ohio   2015-05-05       1        0
50          New York   2015-05-06       0        1
51           Florida   2015-05-07       1        1
52          New York   2015-05-10       0        1
53          Colorado   2015-05-13       1        0
54          Colorado   2015-05-16       1        0
55          New York   2015-05-20       0        1
56            Nevada   2015-06-10       0        1
57    South Carolina   2015-06-10       0        0
58              Iowa   2015-06-12       1        0
59          New York   2015-06-13       1        0
60             Texas   2015-06-13       1        0
61         Tennessee   2015-06-14       1        0
62    North Carolina   2015-06-14       0        1
63             Texas   2015-06-18       1        1
64          New York   2015-06-18       1        0
65          Virginia   2015-06-21       0        1
66           Georgia   2015-06-21       1        0
67          New York   2015-06-22       0        0
68        New Jersey   2015-06-24       1        0
69          Michigan   2015-06-25       2        0
70           Georgia   2015-06-30       0        0
71        New Mexico   2015-06-30       1        1
72     Massachusetts   2015-06-30       1        0
73              Ohio   2015-07-03       1        1
74           Georgia   2015-07-04       2        0
75            Oregon   2015-07-04       0        1
76           Georgia   2015-07-09       1        0
77          New York   2015-07-20       0        0
78           Florida   2015-07-22       1        0
79           Georgia   2015-07-25       1        0
80    North Carolina   2015-07-26       1        1
81        California   2015-07-27       1        0
82             Texas   2015-08-03       1        0
83          New York   2015-08-07       0        1
84           Indiana   2015-08-11       0        0
85           Florida   2015-08-13       1        0
86    South Carolina   2015-08-14       1        1
87    South Carolina   2015-08-15       1        0
88           Alabama   2015-08-18       1        0
89          Illinois   2015-08-22       1        0
90      Rhode Island   2015-08-23       2        0
91        Washington   2015-08-25       1        0
92          New York   2015-08-28       1        3
93            Kansas   2015-09-02       0        1
94      North Dakota   2015-09-06       1        1
95       Connecticut   2015-09-07       1        0
96          New York   2015-09-07       1        0
97           Florida   2015-09-08       0        1
98           Florida   2015-09-17       2        1
99        Washington   2015-09-18       2        0
100          Alabama   2015-09-20       0        3
101         Michigan   2015-09-21       1        0
102        Tennessee   2015-09-27       0        1
103         Virginia   2015-09-28       0        2
104      Mississippi   2015-09-29       1        0
105            Texas   2015-10-05       2        0
106      Connecticut   2015-10-10       1        0
107   South Carolina   2015-10-10       1        0
108        Louisiana   2015-10-13       1        0
109         New York   2015-10-14       0        1
110         Kentucky   2015-10-17       1        0
111             Utah   2015-10-18       0        1
112          Indiana   2015-10-24       0        1
113       New Jersey   2015-10-25       2        0
114         Illinois   2015-10-29       0        1
115   North Carolina   2015-11-01       1        1
116        Louisiana   2015-11-04       0        1
117         Michigan   2015-11-05       0        0
118          Georgia   2015-11-05       0        0
119          Indiana   2015-11-07       1        0
120       Washington   2015-11-08       0        0
121         Michigan   2015-11-10       0        1
122             Ohio   2015-11-11       0        0
123      Connecticut   2015-11-14       0        0
124            Maine   2015-11-16       1        0
125         New York   2015-11-16       0        1
126           Nevada   2015-11-16       1        0
127            Texas   2015-11-19       0        2
128        Tennessee   2015-11-21       1        0
129         New York   2015-11-24       0        1
130         New York   2015-11-25       0        0
131          Indiana   2015-11-26       0        1
132          Florida   2015-11-27       0        1
133         Missouri   2015-11-28       1        0
134          Arizona   2015-11-28       0        1
135         Colorado   2015-12-01       0        0
136            Texas   2015-12-01       0        0
137         Michigan   2015-12-03       2        1
138         New York   2015-12-06       0        1
139            Texas   2015-12-07       2        0
140            Texas   2015-12-09       1        0
141            Texas   2015-12-11       1        1
142     Rhode Island   2015-12-12       0        1
143         Oklahoma   2015-12-12       1        0
144         New York   2015-12-15       0        0
145      Connecticut   2015-12-18       1        1
146          Indiana   2015-12-18       1        1
147            Texas   2015-12-21       1        0
148          Georgia   2015-12-27       0        1
149             Utah   2015-12-28       2        0
150            Texas   2015-12-28       1        0
151           Nevada   2015-12-29       1        0
152           Nevada   2015-12-29       1        0
153         New York   2015-12-30       0        1
154      Mississippi   2015-12-31       1        0
155            Texas   2016-01-01       1        0
156        Tennessee   2016-01-01       1        0
157          Indiana   2016-01-02       2        0
158          Georgia   2016-01-02       0        1
159           Hawaii   2016-01-04       0        0
160        Louisiana   2016-01-04       1        0
161      Connecticut   2016-01-11       0        1
162         New York   2016-01-14       0        1
163       California   2016-01-14       0        0
164            Texas   2016-01-18       0        1
165          Georgia   2016-01-20       0        0
166         New York   2016-01-21       0        2
167        Tennessee   2016-01-25       1        0
168         Colorado   2016-01-26       0        2
169            Texas   2016-01-29       0        0
170             Ohio   2016-01-30       0        2
171       California   2016-02-04       0        1
172          Florida   2016-02-07       2       10
173          Florida   2016-02-08       1        0
174            Texas   2016-02-09       0        0
175            Texas   2016-02-11       0        1
176          Arizona   2016-02-12       2        0
177        Wisconsin   2016-02-15       1        0
178             Ohio   2016-02-16       0        1
179          Georgia   2016-02-18       0        0
180       Washington   2016-02-20       2        0
181            Texas   2016-02-21       1        0
182            Idaho   2016-02-21       0        1
183            Texas   2016-02-22       1        0
184          Florida   2016-02-24       0        2
185           Nevada   2016-02-25       1        2
186          Florida   2016-02-25       0        0
187            Texas   2016-02-26       0        2
188            Texas   2016-02-27       0        0
189            Maine   2016-02-27       0        1
190             Ohio   2016-02-28       1        0
191          Florida   2016-03-01       1        4
192        Tennessee   2016-03-01       0        3
193          Florida   2016-03-03       0        0
194          Florida   2016-03-04       0        0
195          Florida   2016-03-07       1        1
196         Illinois   2016-03-09       2        0
197         Illinois   2016-03-09       0        1
198         Michigan   2016-03-10       1        0
199         Missouri   2016-03-12       0        0
200            Texas   2016-03-12       1        1
201            Texas   2016-03-16       0        2
202           Oregon   2016-03-17       0        2
203          Florida   2016-03-18       0        0
204          Indiana   2016-03-20       1        1
205           Oregon   2016-03-26       0        0
206      Connecticut   2016-03-26       0        0
207         Missouri   2016-03-27       1        0
208         Delaware   2016-04-01       1        1
209         Michigan   2016-04-02       1        0
210          Florida   2016-04-05       0        1
211          Florida   2016-04-06       0        0
212          Florida   2016-04-08       1        0
213       California   2016-04-10       1        0
214         New York   2016-04-17       0        1
215            Texas   2016-04-17       0        1
216             Ohio   2016-04-17       1        0
217           Nevada   2016-04-18       1        0
218          Florida   2016-04-21       1        0
219          Florida   2016-04-22       1        0
220      Connecticut   2016-04-22       0        1
221            Texas   2016-04-23       0        0
222           Oregon   2016-04-27       0        1
223         Michigan   2016-04-28       0        1
224            Texas   2016-05-02       1        1
225            Texas   2016-05-02       2        0
226          Florida   2016-05-03       4        0
227            Texas   2016-05-03       2        0
228       New Jersey   2016-05-03       0        0
229            Texas   2016-05-07       1        0
230         New York   2016-05-07       0        0
231            Texas   2016-05-10       1        1
232          Florida   2016-05-10       1        0
233       Washington   2016-05-15       0        0
234         Oklahoma   2016-05-17       0        1
235             Utah   2016-05-18       0        0
236         New York   2016-05-20       0        1
237         Virginia   2016-05-21       0        1
238            Texas   2016-05-23       1        0
239            Texas   2016-05-26       1        0
240     Pennsylvania   2016-05-27       1        0
241         New York   2016-05-27       3        0
242            Texas   2016-05-31       1        0
243      Mississippi   2016-05-31       1        0
244        Tennessee   2016-06-01       0        1
245         Colorado   2016-06-03       1        0
246         Missouri   2016-06-06       0        1
247            Texas   2016-06-09       1        0
248          Florida   2016-06-10       2        0
249        Louisiana   2016-06-11       1        0
250         Michigan   2016-06-13       1        0
251         New York   2016-06-13       0        2
252         New York   2016-06-13       1        0
253         New York   2016-06-15       1        0
254          Florida   2016-06-16       1        1
255            Texas   2016-06-16       1        0
256      Connecticut   2016-06-16       0        0
257          Florida   2016-06-18       1        0
258            Texas   2016-06-18       0        0
259          Georgia   2016-06-20       2        0
260         Missouri   2016-06-20       0        0
261          Florida   2016-06-22       1        0
262          Florida   2016-06-24       0        0
263            Texas   2016-06-25       1        0
264           Oregon   2016-06-26       0        0
265            Texas   2016-06-26       0        4
266         Arkansas   2016-06-27       1        0
267         Missouri   2016-06-27       0        0
268          Florida   2016-06-27       0        1
269      Mississippi   2016-06-28       1        1
270          Florida   2016-07-03       1        0
271       California   2016-07-08       0        2
272       California   2016-07-11       1        0
273          Florida   2016-07-15       1        0
274           Hawaii   2016-07-18       2        0
275         Michigan   2016-07-20       0        1
276            Texas   2016-07-23       4        1
277        Tennessee   2016-07-24       0        1
278             Utah   2016-07-24       1        0
279         Missouri   2016-07-25       1        1
280             Ohio   2016-07-25       0        1
281          Georgia   2016-07-25       0        1
282           Nevada   2016-07-25       0        2
283          Arizona   2016-07-25       1        0
284             Utah   2016-07-26       2        0
285        Louisiana   2016-07-27       0        0
286            Texas   2016-07-29       2        0
287       Washington   2016-07-30       3        1
288       New Jersey   2016-07-30       2        0
289         Illinois   2016-07-31       2        0
290    West Virginia   2016-08-01       0        1
291          Arizona   2016-08-01       1        0
292            Texas   2016-08-03       1        0
293         Maryland   2016-08-05       1        0
294          Georgia   2016-08-05       0        0
295             Ohio   2016-08-07       0        1
296         Colorado   2016-08-09       0        0
297          Alabama   2016-08-09       2        0
298          Arizona   2016-08-11       1        0
299         Michigan   2016-08-12       1        0
300          Florida   2016-08-12       2        0
301            Texas   2016-08-13       1        0
302            Texas   2016-08-14       1        0
303         Arkansas   2016-08-15       0        1
304            Texas   2016-08-19       2        0
305        Tennessee   2016-08-20       0        1
306       Washington   2016-08-20       0        1
307          Georgia   2016-08-21       2        1
308          Georgia   2016-08-21       1        0
309        Tennessee   2016-08-21       0        1
310             Ohio   2016-08-22       1        0
311            Texas   2016-08-23       0        1
312          Florida   2016-08-27       1        0
313             Ohio   2016-08-27       1        0
314         New York   2016-08-27       0        2
315          Florida   2016-08-27       1        0
316            Texas   2016-08-28       2        2
317            Texas   2016-08-28       0        1
318       New Mexico   2016-08-28       3        0
319          Florida   2016-08-28       0        1
320          Florida   2016-08-29       1        0
321            Texas   2016-08-30       0        1
322         Michigan   2016-08-30       0        1
323     Rhode Island   2016-08-30       0        1
324          Florida   2016-09-01       0        1
325        Louisiana   2016-09-01       0        0
326            Texas   2016-09-03       0        1
327         Michigan   2016-09-03       0        0
328            Texas   2016-09-03       0        0
329             Ohio   2016-09-04       1        0
330         Oklahoma   2016-09-05       0        1
331        Tennessee   2016-09-06       1        1
332          Florida   2016-09-07       0        0
333         Illinois   2016-09-07       1        0
334          Florida   2016-09-07       0        2
335          Georgia   2016-09-10       1        0
336          Georgia   2016-09-11       0        1
337           Kansas   2016-09-11       1        1
338   South Carolina   2016-09-14       0        2
339            Texas   2016-09-15       0        1
340          Florida   2016-09-15       0        1
341       California   2016-09-16       0        1
342         New York   2016-09-17       1        0
343        Tennessee   2016-09-17       0        1
344         Oklahoma   2016-09-17       1        0
345         Colorado   2016-09-18       0        0
346          Alabama   2016-09-21       1        2
347         Missouri   2016-09-22       1        0
348            Texas   2016-09-23       1        3
349         New York   2016-09-24       1        0
350           Hawaii   2016-09-24       1        1
351          Georgia   2016-09-25       0        0
352          Indiana   2016-09-27       0        1
353   South Carolina   2016-09-27       2        0
354             Ohio   2016-09-28       1        0
355       California   2016-09-29       0        1
356         Michigan   2016-09-29       0        1
357       California   2016-09-29       2        0
358         Virginia   2016-09-30       1        0
359        Louisiana   2016-10-01       1        1
360        Tennessee   2016-10-01       1        0
361          Florida   2016-10-02       0        1
362   North Carolina   2016-10-02       1        0
363         Michigan   2016-10-04       1        0
364             Ohio   2016-10-04       2        0
365         Colorado   2016-10-07       1        0
366        Tennessee   2016-10-10       1        0
367            Texas   2016-10-10       0        0
368       New Jersey   2016-10-11       1        0
369          Florida   2016-10-11       0        0
370          Florida   2016-10-12       2        0
371             Ohio   2016-10-12       1        0
372            Texas   2016-10-14       0        1
373            Texas   2016-10-14       0        1
374          Florida   2016-10-16       0        1
375          Florida   2016-10-16       2        0
376             Utah   2016-10-20       0        0
377             Iowa   2016-10-21       1        0
378         Colorado   2016-10-22       0        0
379           Oregon   2016-10-22       2        0
380            Texas   2016-10-22       1        0
381             Ohio   2016-10-24       1        1
382         Oklahoma   2016-10-26       0        1
383             Ohio   2016-10-26       1        0
384   North Carolina   2016-10-27       1        1
385          Florida   2016-10-27       1        0
386         Maryland   2016-10-28       2        0
387         New York   2016-10-29       0        0
388             Ohio   2016-11-01       0        1
389       California   2016-11-02       1        0
390         Illinois   2016-11-02       1        0

In [ ]:
11-28-2014, 11-27-2015, 11-25-2016, 11-24-2017